
/* Tudo do site */

/* Formatação Body */
 
*{
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

#fundo{
	background: url(../image/jogos.jpg);
}

/* Fim Formatação Body */

/* Cabeçalho */

#cabecalho{
	background: #fff;
	border: 5px solid black;
	padding: 15px;
	text-align: center;
	height: 9.5em; 
}

/* Fim Cabeçalho */

/* Formatação do Menu */

ul{	
	margin: 0px auto;
	padding: 0px;
	list-style: none;
	width: 553px;
}

ul li{
	float: left;
}

li a{
	display: block;
	padding: 0 2em;
	line-height: 3em;
	text-decoration: none;
	color: #000;
	background: #fff;
}

li a:hover{
	color: #fff;
	background: #000;	
}

/* Formatação Marcado */

	#marcado{
	color: #fff;
	background: #000;	
	}

/* Fim Formatação do Menu */

/* Formatação Body */

/* Manutenção */

.manutencao{
	width: 900px;
	margin: 257px auto;
	background: #fff;
	border: 5px solid black;
	text-align: center;
	font-size: 1.1em;
	padding: 15px;
	clear: both;
}

/* Fim Manutenção */

#principal{
	margin: 3em 20em;
	clear: both;
	background: #fff;
}

.conteudo1{
	float: left;
	border: 5px solid black;
	background: #fff;
	text-align: center;
} 

.conteudo2{
	float: right;
	border: 5px solid black;
	background: #fff;
	text-align: center;
}

.post img{
	/*	border: 1px solid red;*/
	width: 100px;
}


/* Fim Formatação Body */

/* Formatação Rodapé */

#icon{
	width: 50px;
	height: 50px;
}

#rodape{
	background: #fff;
	border: 5px solid black;
	text-align: center;
	clear: both;
}

.rodape-text{
	font-size: 1.2em;
}

/* Fim Formatação Rodapé */